/* Footer Styles
   ------------------------- */

footer {
  min-width: $min;
  font-family: $stack-heading;
  text-align: center;
  background-color: $color-bg-banner;
  color: $color-text-light;
  margin-top: 4rem;
  padding: 2rem 0;
}